.main-container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.main {
  background-color: #16181d;
  height: 80vh;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.main .gameover-container {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #4e5565;
}

.main .gameover {
  font-size: 4rem;
  font-weight: 700;
}

.main .results {
  font-size: 2rem;
}

.main .results span {
  font-weight: 700;
  color: rgb(255, 255, 255, 0.75);
}

.main .results span.score {
  color: rgb(132, 194, 132);
}

.main .continue {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.main .continue span {
  font-weight: 700;
}

.play-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
}
